<?xml version="1.0"?>

<launch>

  <node pkg="gui_js_samples_ros" type ="pub_pose.py" name="pub_pose" output="log"/>
  <node pkg="gui_js_samples_ros" type ="quat_euler_bridge.py" name="quat_euler_bridge" output="log"/>
  <node pkg="gui_js_samples_ros" type ="pub_path.py" name="pub_path" output="log"/>
  <!--node pkg="xxx" type ="xxx" name="xxx" output="log"/-->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find gui_js_samples_ros)/config/graph.rviz"/>

</launch>


